@using PlaylistTransfer.Shared
<div class="playlist-card">
    <img src="@Playlist!.Image" alt="@Playlist.PlaylistName" class="playlist-image" />
    <div class="playlist-info">
        <h5>@Playlist.PlaylistName</h5>
        <input type="checkbox" @bind="Playlist.IsSelected" />
    </div>
</div>

@code {
    [Parameter]
    public PlaylistItems? Playlist { get; set; }
}